.bg-body-color {
  background-color: #facbea;
}
.nav-color {
  background-color: #d988b9;
}
.logo {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 2px solid #000;
}
.center {
  display: flex;
  justify-content: center !important;
}
.card {
  background-color: #ffe4d6 !important;
}
